* {
    box-sizing: border-box;
}

body {
    font-size: 112.5%;
    margin: 0;
    color: #292f38;
    padding: 20px;
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 220px auto 75px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

mark {
    background-color: #292f38;;
    border-radius: 3px;
    color: white;
    padding: 3px;
}
.subline {
    font-weight: 400;
    padding-left: 5px;
}

h2, h3 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: underline;
    color:  #292f38;
    font-weight: 500;
    margin:10px
}

p {
    padding: 15px;
}

.custum-adress-element {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapper {
   display: flex;
   flex-direction: column;
   
}

.banner {
    background-color: #292f38;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 4px 6px 0px hsla(0,0%,0%,0.2);
}

.stack {
    margin-top: -50px;
    display: none;
    height: 90px;
    opacity: 0.08;
    box-shadow: 0px 5px 5px 5px black;
}

.profilfoto_wrapper {
    display: flex;
    justify-content: center;
}
.profillogo{
    border-radius: 5%;
    border: 3px solid;
    border-color: white;
    margin: auto;
    margin-top: -105px;
    width: 270px;
    box-shadow: 0px 4px 6px 0px hsla(0,0%,0%,0.2);
    
}
.temp {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: lighter;
    margin: 15px 0 30px 0;
    padding-top: 10px;
}

.qoute-p {
    margin-top: 10px;
    padding-top: 0;
}

.quote {
    display: none;
    text-align: center;
    background-color: #292f38;
   margin: 30px;
   color:  	#b7b1a8;
    padding: 20px;
    border-top: solid 1px;
    border-color:  #292f38;
    border-radius: 3px;
    font-family: "Monaco";
    box-shadow: inset 0px 0px 4px 3px black;
}

.o-color {
    border-top: 5px solid;
    border-color: #7e6052;
}

.card {
    margin: 20px 0;
    /* width: 80vw; */
    background-color: #F3F4F6;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px hsla(0,0%,0%,0.2);

}
.b_color {
    border-top: 5px solid;
    border-color: #663f33;
    
    
}
.i-color {
    border-top: 5px solid;
    border-color: #474548;
}

.c_color {
    border-top: 5px solid;
    border-color: #663f33;
}

.s-color {
    border-top: 5px solid;
    border-color: #474548;
}
.wrapper {
    
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.padd {
    padding-left: 20px;
    font-weight: normal;
}
.phone {
    
    padding-right: -40px;
}

address {
    padding: 50px;
}

.social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

.social-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F4F6;
    width: auto;
    margin: 20px;

    padding: 15px;
    border-radius: 5px;
    /* box-shadow: 0px 2px 1px 0px hsla(0,0%,0%,0.2);*/
}

.s-color {
    border-top: 5px solid;
    border-color: #422119;   
}

.a_rd_logo {
    padding-left: auto;
    padding-right: auto
}
.rd_logo {
    width: 100px;
    margin-left: auto;
   
}

.social_button {
    border: solid 1px;
    border-color: #474548;
    border-radius: 2px;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    background-color:#F3F4F6 ;
}

.skill-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.desription {
    align-self: flex-start;
    margin: 10px 0 10px 0;
}

.bar {
    align-self: flex-start;
    padding-top: auto;
    padding-bottom: auto;
}
.bar-outline {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 5px;
   
}
.bar-inline {
    background-color: #292f3891;
    height: 5px;
}

.pr {
    width: 95%;
}
.ae {
    width: 70%;
}

.ps {
    width: 85%;
}
.mac {
    width: 85%;
}
li {
    padding: 8px;
    font-size: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #292f38;
    color: #F3F4F6;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;

}

small {
    margin-top: auto;
    margin-bottom: auto;
}

/* img {
    width: 100vh;
} */

@media (min-width: 489px) {
    body {
    grid-template-rows: 170px auto 75px;
    }
}


@media (min-width: 800px) {
    .social {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2 auto;
       
    
    }
    h1 {
        margin-top: 0;
    }
    .custum-adress-element {
        justify-content: space-evenly;
        flex-direction: row;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        justify-items: flex-end; 
     }
}
@media (min-width: 1310px) {
    body {
        justify-content:center;
        grid-template-columns:  1250px; 
        grid-template-rows: 100px auto 75px;
    }
    

   

    .banner {
        width: 550px;
        height: 300px;
    }
    .profilfoto_wrapper {
        display: flex;
        align-content: center;
    }
    .profillogo {
        margin: 0px 20px 0 0;
        margin-left: -100px;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .temp {
        display: none;
    }

    .test {
        display: flex;
        align-items: center;
    }

    .b_color {
        border-top: 3px solid;
        border-color: #663f33;
        min-height: 320px;
        margin-right: 10px;
        
    }
    
    .bio-cv-wrapper {
        display: flex; 
        justify-content: space-between;
        margin-top: -20px;
    }

    .card {
        flex-basis: 100%;
        border-top: 1px ;
    }

    .i-color{
        border-top: 3px solid;
        border-color: #474548;
        min-height: 320px;
        margin-left: 10px;
    }
   
    .c_color {
        border-top: 3px solid;
        border-color: #663f33;
        
    }

    .s-color {
        border-top: 3px solid;
        border-color: #663f33;
    }
        .skills {
        display: flex;
        flex-direction: row;
        align-items: space-around;
        

}

    .bar {
        align-self: center;
    }
}
}