* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 175px auto 100px;

    margin: 0;
    padding: 20px;

    font-size: 112.5%;
    color: #292f38;
    font-family: "Open Sans", sans-serif;
}

h1 {
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav_a {
    margin-left: 0px;
}

mark {
    background-color: #292f38;
    border-radius: 3px;
    color: white;
    padding: 3px;
}
.subline {
    font-weight: 400;
    
}

.a_coord {
    text-decoration: none;
    margin: 0 0;
}

h2, h3 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: underline;
    color:  #292f38;
    font-weight: 500;
    margin:10px
}

p {
    padding: 15px;
}

li {
    margin: 15px;
}
.custum-adress-element {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapper {
   display: flex;
   flex-direction: column;
   
}

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #292f38;
    height: 200px;
   
    border-radius: 2px;
    box-shadow: 0px 4px 6px 0px hsla(0,0%,0%,0.2);
}

.stack {
    margin-top: -50px;
    display: none;
    height: 90px;
    opacity: 0.08;
    box-shadow: 0px 5px 5px 5px black;
}

.profilfoto_wrapper {
    display: flex;
    justify-content: center;
}

.profillogo{
    border-radius: 5%;
    border: 3px solid;
    border-color: white;
    margin: auto;
    margin-top: -105px;
    width: 270px;
    box-shadow: 0px 4px 6px 0px hsla(0,0%,0%,0.2);
    
}
.one-liner {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: lighter;
    margin: 15px 0 30px 0;
    padding-top: 10px;
}

.qoute-p {
    margin-top: 10px;
    padding-top: 0;
}

.quote {
    display: none;
    text-align: center;
    background-color: #292f38;
   margin: 30px;
   color:  	#b7b1a8;
    padding: 20px;
    border-top: solid 1px;
    border-color:  #292f38;
    border-radius: 3px;
    font-family: "Monaco";
    box-shadow: inset 0px 0px 4px 3px black;
}

.tech-ov, .tech-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-boxes{
   padding-bottom: 50px;
}

.h-stack {
    color : #292f38;
    font-weight: 900;
    border-bottom: solid 1px;
    border-color: #264d64;
    padding: 20px;
    border-radius: 2px;
    margin: 40px;
    width: 200px;
    text-align: center;
}

.tech-list {
   
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stack-list {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.content-interested-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 50px);
    gap: 10px 30px; */  
}

.content-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.stack-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 64px;

    margin: 30px;
    padding: 15px; 

    text-align: center;
    font-weight: 300;
    color:  #292f38;
    font-family: "Open Sans", sans-serif;
    
    border-radius: 3px;
    border: solid 1px #292f381e;
}

.g-stack {
    color : #292f38;
    font-weight: 900;
    border-bottom: solid 1px;
    border-color: #926c59;
    padding: 20px;
    border-radius: 2px;
    margin: 40px;
    width: 200px;
    text-align: center;
}

.content-goals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.goals-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 64px;

    margin: 30px;
    padding: 15px; 

    text-align: center;
    font-weight: 300;
    color:  #292f38;
    font-family: "Open Sans", sans-serif;
    
    border-radius: 3px;
    border: solid 1px #292f381e;
}

.i-stack {
    color : #292f38;
    font-weight: 900;
    border-bottom: solid 1px;
    border-color: #474548;
    padding: 20px;
    border-radius: 2px;
    margin: 40px;
    width: 200px;
    text-align: center;
}
.interest-item {
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 64px;

    margin: 30px;
    padding: 15px; 

    background-color: #292f389d;

    text-align: center;
    font-size: small;
    font-weight: 300;
    color:  white;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    
    border-radius: 3px;
    border: solid 1px #292f381e;
}
.grey-border {
    background-color: #292f386e;
    color: #F3F4F6;
}

li.interest-list {
    display: inline-block;
}

.o-color {
    border-top: 5px solid;
    border-color: #7e6052;
}

.card {
    margin: 20px 0;
    /* width: 80vw; */
    background-color: #F3F4F6;
    padding: 50px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px hsla(0,0%,0%,0.2);

}
.b_color {
    border-top: 5px solid;
    border-color: #926c59;
}
  
.l {
    padding-left: 0;;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.l1 {
    align-self: flex-end;
}

.l2 {
    align-self: center;
}

.l3 {
    align-self: flex-start
}

.i-color {
    border-top: 5px solid;
    border-color: #474548;
}

.c_color {
    border-top: 5px solid;
    border-color: #663f33;
}

.s-color {
    border-top: 5px solid;
    border-color: #264d64
}
.wrapper {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.padd {
    padding-left: 20px;
    font-weight: normal;
    font-weight: lighter;
}
.phone {
    
    padding-right: -40px;
}

.social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

.social-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F3F4F6;

    width: auto;
    margin: 20px;
    padding: 15px;
    
    border-radius: 5px;
    /* box-shadow: 0px 2px 1px 0px hsla(0,0%,0%,0.2);*/
}

.so-color {
    border-top: 5px solid;
    border-color:#264d64;   
}

.a_rd_logo {
    padding-left: auto;
    padding-right: auto
}
.rd_logo {
    width: 100px;
    margin-left: auto;
   
}

.social_button {
    padding: 25px;
    margin-top: 15px;
    width: 200px;

    border: solid 1px;
    border-color: #47454842;
    border-radius: 2px;

    color:  #4745489f;
    font-size: 100%;
    font-weight: 300;
    font-weight: lighter;

    background-color:#F3F4F6 ;
    cursor: pointer;
}

p.me {
    text-align: center;
    padding-top: 20px 0;
    line-height: 220%;
    font-size: larger;
    font-weight: lighter;
}

.br {
    white-space: pre-wrap;
}

/* Education and Work Tree Style */

.overall-cv-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.station {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stage-or-way {
    font-weight: bolder;
    margin-bottom: 15px;
}

.stage {
    color : white;
    background-color: #292f386e;

    padding: 20px;
    margin: 40px;
    width: 200px;

    border-radius: 3px;
    
    text-align: center;
}
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 30px 0;
  }
  
  .left {
    text-align: center;
    font-weight: 300;
  }
  
  .right {
    text-align: center;
    font-weight: 300;
  }

  .line {
    padding-left: 20px;
    padding-right: 20px;
  }

  .line-horizontal {
    height: 1px;
    background-color: #292f387a;
    width: 60px;
    border-radius: 8px;
  }
  
  .line-vertical {
    height: 20px;
    background-color: #292f3834;
    width: 1px;
    border-radius: 8px;
  }

.work-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-wrapper {
    display: flex;
    flex-direction: column;

    margin-left: 40px;
    margin-right: 40px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.desription {
    align-self: flex-start;

    margin: 10px 0 10px 0;

    font-weight: 300;
}

.bar {
    align-self: flex-start;
    padding-top: auto;
    padding-bottom: auto;
}

.bar-outline {
    background-color: rgb(255, 255, 255);

    width: 200px;
    height: 5px;
}

.bar-inline {
    background-color: #292f3891;
    height: 5px;
}

/* Skill progressbar values */

.pr {
    width: 95%;
}

.ae {
    width: 70%;
}

.ps {
    width: 85%;
}

.mac {
    width: 85%;
}

li {
    padding: 8px;
    font-size: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-top: 30px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -40px;

    text-align: center;
    background-color: #292f38;
    color: #F3F4F6;
}

.mini-social {
    display: flex;
}

.pic_small {
    height: 30px;
    width: 30px;

    margin: 10px;
}

small {
    margin-top: auto;
    margin-bottom: auto;
}


/* BEGIN MEDIA QUERIES */


@media (min-width: 489px) {
    body {
    grid-template-rows: 175px auto 100px;
    }
}

@media (min-width: 650px) {
    body {
        grid-template-rows: 100px auto 100px;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        justify-items: flex-end; 
     }
    .banner {
        margin-top: 75px;
    }
}

@media (min-width: 768px) {
    .tech-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 50px);
        gap: 80px 180px;
        
    }

    .stack-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 50px);
        gap: 80px 180px;   
    }
   
}

@media (min-width: 844px) {
    .social {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2 auto;
    }

   

    .custum-adress-element {
        justify-content: space-evenly;
        flex-direction: row;
    }
   
}

@media (min-width: 920px) {
     .cv-wrapper {
         width: 800px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
      }

      .tech-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 50px);
        gap: 50px 50px;
        
    }
}
 
@media (min-width: 1310px) {
    body {
        justify-content: center;
        grid-template-columns:  1250px; 
        
    }

    .banner {
        width: 550px;
        height: 300px;
        margin-top: 0px;
    }

    .profilfoto_wrapper {
        display: flex;
        align-content: center;
    }

    .profillogo {
        margin: 0px 20px 0 0;
        margin-left: -100px;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .one-liner {
        display: none;
    }

    .test {
        display: flex;
        align-items: center;
    }

    
    /* .b_color {
        border-top: 3px solid;
        border-color: #663f33;
        min-height: 320px;
        margin-right: 10px;
        
    } */
    
    .bio-cv-wrapper {
        display: flex; 
        justify-content:space-evenly;
        margin-top: -20px;
    }

    .card {
        flex-basis: 100%;
        border-top: 1px ; 
    }

    .b_color {
        background-color: white;
        box-shadow: none;
    }
    .i-color{
        border-top: 3px solid;
        border-color: #474548;  
    }
   
    .c_color {
        border-top: 3px solid;
        border-color: #663f33;
    }

    .s-color {
        border-top :0px;
        height: 459px;
    }

    .g-color {
        height: 459px;
    }
    .e-color {
        margin-left: 10px;
    }
    .a-color {
        margin-right: 10px;
        
    }

    .so-color {
        border-top: 3px solid;
        border-color: #264d64
    }
    .tech-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 50px);
        gap: 0px 0px;
    }

    .content-stack {
        display: flex;
        flex-direction: column;
    }

    .stack-item {
        margin: 0;
        border: none;
        padding:0;
        justify-self: center;
        align-self: stretch;
    }

    .content-goals {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 30px);
        gap: 10px;
    }

    .goals-item {
        margin: 0;
        padding:0;

        border: none;
        
        justify-self: center;
        align-self: stretch;
    }

    .stack-list {
        list-style-type: none;

        padding-left: 0px;
        margin-bottom: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        text-align: center;
    }

    .cv-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: auto;
    }

    .bar {
        align-self: center;
    }
}